body {
    font-family: Nunito Sans, sans-serif !important;
    margin: 0;
}

.header {
    background-color: #272626;
    color: white;
    overflow: auto; 
    border-bottom: 5px solid #8c16e1 ;
    /* box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.4);  */
    position:sticky;
    padding: 9px 0;
}

.container {
    width: 80%;
    margin: auto;
}

.titulo {
    float: left;
    margin: 0.5%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover{

    color: #8c16e1;

}


.destaque {
    color: #8c16e1;
}

/* NavBar */

.navbar {
    float: right;
    color: #ffffff;
    list-style: none;
    /* text-align: right; */
}

/* Alinhamento dos links da navbar */
.nav-list{

    display: inline-block;

}

.item_menu {
    float: left;
    margin-right: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

/* Banner */

.banner{

    background-color: #a7a3a3;
    background-repeat: no-repeat;
    background-image: url(https://cdn.pixabay.com/photo/2016/02/19/11/19/computer-1209641_960_720.jpg);
    background-size: cover;
    height: 65vh;
}


/* Saiba mais */
.btn{
    font-size: 12pt;
    border:none;
    background-color:#8c16e1;
    color:white;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    font-family: Nunito Sans, sans-serif;
    cursor: pointer;
}

.btn:hover{

    filter: brightness(70%);

}

.saiba-mais{
    text-align: center;
    text-transform: uppercase;
    background-color: #232323;
    padding-top: 25px;
    height: 50px;
}

/*Missão, visão e valores*/

.valores-title{

    text-align: center;
    opacity: 80%;
    padding-bottom: 15px;

}

.box img {
    height: 100px;
}

.box {
    margin-top: 20px;
    overflow: auto;
}
.box-item {
    float: left;
    text-align: center;
    width: 33%;
    
}

/* Contato */




/* Footer */
.final {
    margin: 0;
    color: white;
}
.footer {
    border-top: 5px solid #8c16e1;
    margin-top: 15px;
    text-align: center;
    background-color: #272626;
    height: 60px;
    padding-top: 30px;
}

