body {
    font-family: Nunito Sans, sans-serif !important;
    margin: 0;
}


.header {
    background-color: #272626;
    color: white;
    overflow: auto; 
    border-bottom: 5px solid #8c16e1 ;
    /* box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.4);  */
    position:sticky;
    padding: 9px 0;
}

.container {
    width: 80%;
    margin: auto;
}

.titulo {
    float: left;
    margin: 0.5%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover{

    color: #8c16e1;

}


.destaque {
    color: #8c16e1;
}

/* NavBar */

.navbar {
    float: right;
    color: #ffffff;
    list-style: none;
    /* text-align: right; */
}

/* Alinhamento dos links da navbar */
.nav-list{

    display: inline-block;

}

.item_menu {
    float: left;
    margin-right: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

/* Sobre */

.sobre-title{

    text-align: center;
    

}


.sobre{

    border-left: 2px purple;
    height: 300px;
    float: left;
    width: 50%;

}

.sobre-text{

    font-size: 20px;
    opacity: 80%;
    

}

.img-sobre{

    
    height: 200px;
    float: left;
    width: 50%;

}


.imagem{

    padding-left: 24%;

}



/* Footer */
.final {
    margin: 0;
    color: white;
}
.footer {
    
    /* overflow: auto;
    border-top: 5px solid #8c16e1;
    margin-top: 15px;
    text-align: center;
    background-color: #272626;
    height: 60px;
    padding-top: 30px; */

    position:fixed;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background:#999;
    border-top: 5px solid #8c16e1;
    background-color: #272626;
    height: 60px;
    text-align: center;
    padding-top: 30px;
}
